Package: binutils-arm-rtems4.9
Version: 2.20-1
Architecture: amd64
Source: binutils-2.20
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Priority: extra
Description: binutils for target arm-rtems4.9
 .
 binutils targetting arm-rtems4.9
