Package: gdb-i386-rtems6
Version: 13.2-1
Architecture: amd64
Source: gdb-13.2
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Description: gdb for target i386-rtems6
 .
 gdb targetting arm-rtems6
