#!/bin/sh

MY_DIR="$(cd "$(dirname "$0")" ; pwd -L )"

LWIP_DIR=../../../git/rtems-lwip

$LWIP_DIR/waf configure -t "$LWIP_DIR" -o "$MY_DIR" --prefix="/opt/rtems/7" --rtems-bsps=arm/beagleboneblack
#--buildset=buildset/default.ini
$LWIP_DIR/waf
#$LWIP_DIR/waf install
