Package: binutils-i386-rtems6
Version: 2.41-1
Architecture: amd64
Source: binutils-2.41
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Description: binutils for target i386-rtems6
 .
 binutils targetting arm-rtems6
