Package: gcc-i386-rtems6
Version: 13.2.0-1
Architecture: amd64
Source: gcc-13.2.0
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Description: GCC for target i386-rtems6
 .
 GNU GCC targetting arm-rtems6
