Package: gcc-i386-rtems4.12
Version: 6.0.1-1
Architecture: amd64
Source: gcc-6.0.1
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Description: GCC for target i386-rtems4.12
 .
 GNU GCC targetting i386-rtems4.12
