Package: gcc-arm-rtems4.9
Version: 4.3.4-1
Architecture: amd64
Source: gcc-4.3.4
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Priority: extra
Description: GCC for target arm-rtems4.9
 .
 GNU GCC targetting arm-rtems4.9
