Package: rtems-csb336
Version: 4.7.1
Architecture: all
Source: rtems-4.7.1
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Priority: extra
Description: RTEMS executive for target board CSB336/PiMX1 (arm-rtems)
 .
 RTEMS targetting board CSB336/PiMX1 (arm-rtems)
