Package: rtems4.9-common
Version: 4.9.3
Architecture: amd64
Source: rtems-4.9.3
Section: cross-dev
Priority: extra
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Priority: extra
Description: RTEMS executive common files
 .
 RTEMS support files common to all target architectures
