#!/bin/sh

MY_DIR="$(cd "$(dirname "$0")" ; pwd -L )"

RTEMS_DIR=../../../git/rtems

if true ; then

$RTEMS_DIR/waf bspdefaults --rtems-bsps=arm/beagleboneblack -t "$RTEMS_DIR" -o "$MY_DIR" --prefix "/opt/rtems/7" >config.ini || exit 1

mv config.ini config.ini.default
sed <config.ini.default >config.ini \
  -e 's/^RTEMS_POSIX_API .*$/RTEMS_POSIX_API = True/' \

fi

$RTEMS_DIR/waf configure -t "$RTEMS_DIR" -o "$MY_DIR" --rtems-config "$MY_DIR/config.ini" --prefix "/opt/rtems/7" || exit 1
$RTEMS_DIR/waf || exit 1
$RTEMS_DIR/waf install || exit 1
